<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Digitalroot.Valheim.Common.AssemblyInfo" version="1.0.1" targetFramework="net462" />
  <package id="Digitalroot.Valheim.Common.Core" version="1.0.2" targetFramework="net462" />
  <package id="Digitalroot.Valheim.Common.Json" version="1.0.2" targetFramework="net462" />
  <package id="Digitalroot.Valheim.Common.Log" version="1.1.1" targetFramework="net462" />
  <package id="Digitalroot.Valheim.Common.Utils" version="1.0.3" targetFramework="net462" />
  <package id="ErrorProne.NET.CoreAnalyzers" version="0.1.2" targetFramework="net462" developmentDependency="true" />
  <package id="fastJSON" version="2.4.0.4" targetFramework="net462" />
  <package id="Fody" version="6.5.2" targetFramework="net462" developmentDependency="true" />
  <package id="ILMerge.Fody" version="1.16.0" targetFramework="net462" />
  <package id="Pfhoenix.Valheim.ModProjectReferences" version="1.0.6" targetFramework="net462" />
</packages>